{% extends "base.html" %}

{% block title %}Doctors{% endblock %}

{% block content %}
<style>
    .card-img-top {
    height: 300px;      /* Set any height you want */
    object-fit: cover;  /* Prevents distortion */
}
</style>
<h1 class="text-center">Doctors</h1>

<div class="container">
  <div class="row">
    {% for d in doctors %}
      <div class="col-md-4 mb-4"> 
        <div class="card h-100">
          <img class="card-img-top" src="{{ d.doc_image.url }}" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">{{ d.doc_name }}</h5>
            <p class="card-text">{{ d.doc_spec }}</p>
            <!-- <h6>{{ d.dep_name }}</h6> -->
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
