<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
    <a href="/" class="brand">Carewell</a>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="booking">Booking</a>
        <a href="doctors">Doctors</a>
        <a href="departments">Departments</a>
    </div>
</div>
</body>
</html>