body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav-bar {
    background-color: #a087e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
}


.nav-bar .brand {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}


.nav-links {
    display: flex;
    gap: 30px;
}


.nav-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav-links a:hover {
    opacity: 0.7;
}
